<!DOCTYPE html>  
<html>  
<head>  
    <title>URL TO IMAGE</title>  
    <link rel="stylesheet" type="text/css" href="style.css">
</head>  
<body>  
    <div class="container">  
        <h1>COMPARE TWO SITES</h1>  
        <form method="post">  
            <input type="text" value="<%= h(params[:url]) %>" placeholder="http://google.se" name="url" id="url" />
            <input type="text" value="<%= h(params[:url]) %>" placeholder="http://yahoo.se" name="url" id="url" />  
            <input type="submit" value="get image" id="submit" />  
        </form>  
        <div class="clear"></div>
        <% if @errors %>
            <div class="error">
                <h2>Noticed some errors:</h2>
                <% @errors.each do |error| %>
                    <p><%= error %></p>
                <% end %>
            </div>
        <% end %> 
    </div>  

    <% if @link %>  
        <div class="result">  
            Your image is: 
            <img src="http://localhost:9393/img/<%= @link %>" /> 
        </div>  
    <% end %> 
</body>  